body{
  background-color: rgb(85, 85, 85);
}

header.headerContainer{
  background-color: rgb(30, 31, 31);
  border-radius: 10px;
}

h1.headerContent{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 60px;
  color: white;
}

section.radioButton{
  padding-bottom: 30px; 
}

main{
  font-family: sans-serif;
  color: white;
}

main.mainContainer{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 31);
  border-radius: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

section.textArea{
  display: flex;
  flex-wrap: wrap;
  resize: none;
  justify-content: space-between;
}

.textInput{
  width: 400px;
  height: 50px;
  resize: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 17px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.textHasil{
  width: 400px;
  height: 50px; 
  resize: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 17px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.textKalkulasi{
  width: 400px;
  height: 50px;
  resize: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 17px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

section.Button{
  padding-top: 15px; 
  padding-bottom: 30px;
}

input.Konversi{
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

input.Reset{
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

input.Reverse{
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

section.Formula{
  padding-top: 5px;
  border-top: 1px solid white;
}

.headerFormulaSuhu{
  font-weight: bold;
}

.headerFormulaFahrenheit{
  font-weight: bold;
}

#S{
  font-family: Script MT;
  font-size: 25px;
  font-style: italic;
}
